*{
    padding: 0;
    margin: 0;
    background-color:#f2f2f2;
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .filters {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .cards {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
     
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card h3 {
    margin-top: 10px;
    background-color: white;
    font-size: 18px;
    color: #5b63a2;
  }
  
  .card p,b {
    background-color: white;
    margin: 5px 0;
    font-size: 14px;
  }
  